* {
    box-sizing: border-box;
}

body {
    /* Add these lines to smoothly transition between different styles */
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    /* Add button hover state for micro-interaction */
    background-color: var(--accent-color);
  }

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
}
body {
    font-family: Adobe Garamond, serif;
  }
  
  h1, h2, h3 {
    font-family: Rubik, sans-serif;
  }
  
  /* Earthy color scheme to be used throughout the website */
  :root {
    --main-color: #6B4423;
    --secondary-color: #C17A56;
    --accent-color: #F3EFEF;
    --background-color: #EAD9C4;
    --text-color: #3C2F2F;
  }